.navbar.hide {
    transform: translateY(-100%);
}

@media (max-width: 992px) {
    .navbar-text-desktop {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar-text-mobile {
        display: none;
    }
}

.navbar {
    transition: transform 0.3s ease-out;
}

#myFooter {
    transition: transform 0s ease-out;
}

#buttonup {
    display: inline-block;
    background-color: #A8DADC;
    color: #0a2a43;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    scroll-behavior: smooth;
}

#buttonup::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#buttonup:hover {
    cursor: pointer;
    background-color: #333;
}

#buttonup:active {
    background-color: #555;
}

#buttonup.show {
    opacity: 1;
    visibility: visible;
}