.card {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    position: relative;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 20rem;
    height: 20rem;
    max-height: 20rem;
}

.card-img-top {
    height: 13rem;
    max-height: 13rem;
}

.caption-center {
    position: relative;
    padding-top: 15px;
    font-size: 1rem !important;
}

.card-body {
    padding: 2px;
    padding-top: 4px;
}

body {
    margin: 0;
    padding: 0;
    background: url("/ifc-ior/static/img/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.modal-dark-overlay {
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity as desired */
}

@media (max-width: 767px) {
    .card {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        position: relative;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 15rem;
    }
}