@media (max-width: 768px) {
    .card {
        margin: auto;
        width: 75%;
        height: auto;
    }
}

.card {
    width: 75%;
    height: auto;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 0;
}
.caption-center {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background: url("/ifc-ior/static/img/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.modal-body {
    padding: 0rem !important;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5); /* Set the background color to black with 50% opacity */
}