.card {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    position: relative;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 16rem;
    height: 26rem;
    max-height: 27rem;
}

@media (max-width: 992px) {
    .filterCountries {
        display: none;
    }
}

@media (min-width: 992px) {
    .dropdown {
        display: none;
    }
}

.card-img-top {
    height: 16rem;
    max-height: 21rem;
}

.card-body {
    padding: 0.4rem;
}

.caption-center {
    position: absolute;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background: url("/ifc-ior/static/img/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.modal-dark-overlay {
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity as desired */
}

@media (max-width: 767px) {
    .card {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        position: relative;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 15rem;
    }
}